# Defining Functions

In [2]:
#Define a function with no arguments and no return values:

def print_text():
    print('this is Python function')

In [3]:
# call the function
print_text()

this is Python function

In [5]:
#Define a function with one argument and no return values:

def print_this(x):
    print(5)

In [8]:
print(5)

5

In [29]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(5)

5

In [30]:
#Define a function with one argument and one return value:
def square_this(x):
    return x**2

In [31]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [32]:
# call the function
square_this(4)

16

In [36]:
# assigns 9 to var, but does not print 9
var = square_this(4)

#Define a function with two 'positional arguments' (no default values) 
and one 'keyword argument' (has a default value):

In [37]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [38]:
# call the function
calc(10, 4, op='add')

14

In [40]:
calc(10, 4, op='sub')

6

In [41]:
calc(10, 4, 'div')

valid operations are add and sub

In [46]:
#Use pass as a placeholder if you haven't written the function body:
#def stub():
   # pass

In [44]:
#Return two values from a single function:
def min_max(nums):
    return min(nums), max(nums)

In [47]:
# return values can be assigned to a single variable as a tuple
nums = [5, 2, 8]
min_max_num = min_max(nums)
min_max_num

(2, 8)

In [48]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

2
8

# Anonymous (Lambda) Functions
Primarily used to temporarily define a function for use by another function

In [49]:
# define a function the "usual" way
def squared(x):
    return x**2

In [50]:
# define an identical function using lambda
squared = lambda x: x**2

In [53]:
#Sort a list of strings by the last letter:

# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [54]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']