# List

In [ ]:
"""(Different objects categorized along a certain ordered sequence, lists are ordered, iterable, mutable 
(adding or removing objects changes the list size), 
can contain multiple data types."""

In [1]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [19]:
# create a list
simpsons = ['bob', 'Babul', 'bart']

In [20]:
print(simpsons)

['bob', 'Babul', 'bart']

In [21]:
print(type(simpsons))

<class 'list'>

In [22]:
simpsons[0]

'bob'

In [23]:
len(simpsons)

3

# Modify a list (does not return the list):

In [24]:
# append element to end
simpsons.append('lisa')
simpsons

['bob', 'Babul', 'bart', 'lisa']

In [25]:
# append multiple elements to end
simpsons.extend(['abul', 'rahim'])
simpsons

['bob', 'Babul', 'bart', 'lisa', 'abul', 'rahim']

In [26]:
simpsons.insert(1, 'Karim')
simpsons

['bob', 'Karim', 'Babul', 'bart', 'lisa', 'abul', 'rahim']

In [27]:
# search for first instance and remove it
simpsons.remove('lisa')
simpsons

['bob', 'Karim', 'Babul', 'bart', 'abul', 'rahim']

In [28]:
# remove element 0 and return it
simpsons.pop(0)

'bob'

In [29]:
simpsons

['Karim', 'Babul', 'bart', 'abul', 'rahim']

In [30]:
del simpsons[0]
simpsons

['Babul', 'bart', 'abul', 'rahim']

In [31]:
# replace element 0
simpsons[1] = 'Shakib'
simpsons

['Babul', 'Shakib', 'abul', 'rahim']

In [39]:
neighbors = simpsons + ['Cricket', 'Footbal', 'Cricket']
neighbors

['Babul', 'Shakib', 'abul', 'rahim', 'Cricket', 'Footbal', 'Cricket']

In [41]:
Sports = neighbors + ['HADUDU']

In [42]:
print(Sports)

['Babul', 'Shakib', 'abul', 'rahim', 'Cricket', 'Footbal', 'Cricket', 'HADUDU']

In [47]:
# counts the number of instances
simpsons.count('Abul')

0

In [49]:
# returns index of first instance
simpsons.index('rahim')

3

# List slicing:

In [59]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

mon

In [65]:
weekdays[0]

'mon'

In [66]:
MonthName=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep.', 'Oct', 'Nov', 'Dec']

In [67]:
MonthName[0]

'Jan'

In [69]:
MonthName[11]

'Dec'

In [78]:
MonthName[6]

'Jul'

In [77]:
# elements 0 (inclusive) to 3 (exclusive)
MonthName[0:4]

['Jan', 'Feb', 'Mar', 'Apr']

In [76]:
# starting point is implied to be 0
MonthName[:3]

['Jan', 'Feb', 'Mar']

In [75]:
# elements 3 (inclusive) through the end
MonthName[3:]

['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep.', 'Oct', 'Nov', 'Dec']

In [80]:
# last element
MonthName[-1]

'Dec'

In [81]:
# every 2nd element (step by 2)
MonthName[::2]

['Jan', 'Mar', 'May', 'Jul', 'Sep.', 'Nov']

In [82]:
# backwards (step by -1)
MonthName[::-1]

['Dec',
 'Nov',
 'Oct',
 'Sep.',
 'Aug',
 'Jul',
 'Jun',
 'May',
 'Apr',
 'Mar',
 'Feb',
 'Jan']

In [83]:
# alternative method for returning the list backwards
list(reversed(MonthName))

['Dec',
 'Nov',
 'Oct',
 'Sep.',
 'Aug',
 'Jul',
 'Jun',
 'May',
 'Apr',
 'Mar',
 'Feb',
 'Jan']

Sort a list in place (modifies but does not return the list):

In [84]:
simpsons.sort()
simpsons

['Babul', 'Shakib', 'abul', 'rahim']

In [85]:
simpsons.sort(reverse=True)
simpsons

['rahim', 'abul', 'Shakib', 'Babul']

In [86]:
# sort by a key
simpsons.sort(key=len)
simpsons

['abul', 'rahim', 'Babul', 'Shakib']

Return a sorted list (does not modify the original list):

In [87]:
sorted(simpsons)

['Babul', 'Shakib', 'abul', 'rahim']

In [88]:
sorted(simpsons, reverse=True)

['rahim', 'abul', 'Shakib', 'Babul']

In [89]:
sorted(simpsons, key=len)

['abul', 'rahim', 'Babul', 'Shakib']

Insert into an already sorted list, and keep it sorted:

In [90]:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

In [91]:
# create a second reference to the same list
same_num = num

In [92]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [93]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)