In [ ]:
#Tuple properties: ordered, iterable, immutable, can contain multiple data types
#Like lists, but they don't change size

In [1]:
# create a tuple directly
digits = (0, 1, 'two')B

In [4]:
print(digits)

(0, 1, 'two')

In [2]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [5]:
print(digits)

(0, 1, 'two')

In [3]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

In [10]:
#exmine tuples
digits[2]

'two'

In [11]:
len(digits)

3

In [12]:
# counts the number of instances of that value
digits.count(0)

1

In [13]:
# returns the index of the first instance of that value
digits.index(1)

1

Modify a tuple:

In [14]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [15]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [16]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [17]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [18]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson